<div id="mainContent" class="row">
  <% @pics.each do |pic| %>
    <div class="postWrapper imageBg col-sm-3">
      <%= link_to (image_tag pic.image.url, class: "pageImages img-fluid") %>
      <h5 class="title"><%= link_to pic.title, pic, class: 'igPicTitle' %></h5>
      <p class="date"><%= time_ago_in_words(pic.created_at) %> ago</p>
    </div>
  <% end %>
</div>
