<div id="mainContent">
  <div class="row">
    <% @pics.each do |pic| %>
      <div class="postWrapper imageBg mx-auto col-xs-4">
        <%= link_to (image_tag pic.image, class: "pageImages img-fluid") %>
        <p class="title ml-1 text-center"><%= link_to pic.title, pic, class: 'igPicTitle' %></p>
      </div>
    <% end %>
  </div>
</div>
