<div id="mainContent">
  <h1><%= @pic.title %></h1>
  <p><%= @pic.description %></p>
  <%= link_to "Edit", edit_pic_oath, class: "btn btn-primary" %>
  <%= link_to "Delete", pic_path, method: :delete, data: {confirm: "Are you sure?"}. class: "btn btn-primary" %>
</div>
